<%- include ('../../partials/header') %>
<%- include ('../../partials/navbar') %>

<div class="container">
    <hr>
    <h2>Artigos</h2>
    <a class="btn btn-success" href="/admin/articles/new">Criar novo artigo</a>
    <hr>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Slug</th>
                <th>Categoria</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <% articles.forEach(article => { %>
                <tr>
                    <td><%= article.id %></td>
                    <td><%= article.title %></td>
                    <td><%= article.slug %></td>
                    <td><%= article.category.title %></td>
                    <td>
                        <a href="/admin/article/edit/<%= article.id %>" class="btn btn-warning">Editar</a>

                        <form method='POST' action="/articles/delete" style="display: inline" onsubmit="confirmDelete(event, this)">
                            <input type="hidden" name="id" value="<%= article.id %>">
                            <button class="btn btn-danger">Remover</button>
                        </form>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>

<%- include ('../../partials/footer') %>

<script>
    function confirmDelete(event, form) {
        event.preventDefault();

        let decision = confirm("Deseja deletar o artigo?")

        if (decision) {
            form.submit();
        }
    } 
</script>