<%- include ('partials/header') %>
<%- include ('partials/homenavbar') %>

<body>
  <div class="container">
    <hr />
    <div class="jumbotron">
      <h1 class="display-4">Bem-vindo</h1>
      <p class="lead">Este é um simples blog do guia do programador</p>
    </div>
    <hr />
    <% articles.forEach(article => { %>
    <div class="card">
      <div class="card-header">
        <h2><%= article.title %></h2>
      </div>
      <div class="card-body">
        <a href="/article/<%= article.slug %>" class="btn btn-success">Ler artigo</a>
      </div>
    </div>
    <br />
    <% }) %>
    <div class="row">
      <div class="col col-12">
        <a href="/articles/page/2" style="float: right;">Next ></a>
      </div>
    </div>
  </div>
</body>

<%- include ('partials/footer') %>
